* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', 'Arial Narrow', Arial, sans-serif;
}

section {
    height: 500px;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

/* section-1 hero-banner */

.hero-banner {
    background-image: url("https://www.andrewshoemaker.com/images/xl/kaanapali-nights-sunset-palm-trees.jpg");
    gap: 20px;
    align-items: center;
    justify-content: center; 
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    border-radius: 10px;
    background-color: #1d3557;
    color: white;
    padding: 5px 12px;
}

.hero-banner p {
  font-size: 1.2rem;
  font-weight: 700;
  width: 350px;
  border-radius: 10px;
  background-color: #457b9d;
  color: white;
  padding: 5px 15px;
}



/* section-2  activities-banner*/



.activities-banner {
    background-color: #B0C9B8;
    align-items: center;
    justify-content: center;
    gap: 54px;
}

.activities-banner:hover {
     border: 5px solid palevioletred;
}

h2 {
    font-size: 24px;
    font-weight: 700;

}

.activities {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.activity img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.activity {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h3 {
    width:190px;
}

.activity p {
    width: 190px;
}


/* section3 view */

.view {
    background-color: #D3B5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.view:hover {
     border: 5px solid palevioletred;
}

.places {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.sun-point {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}

.sun-point p {
    width: 300px;
}

.sunset,
.sunrise {
    height: 200px;
    width: 200px;
}


/* section-4 guide */

.hero-banner:hover {
    border: 5px solid palevioletred;
}

.guide {
    background-color:whitesmoke ;
}

.guide:hover {
     border: 5px solid palevioletred;
}

.tour-guide {
    height: 300px;
    width: 400px;
    background-color:#D8A7B1;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 10px solid #1d3557;
}

.tour-guide img {
    height: 245px;
    width: 180px;
    border-radius: 10px;
    margin-left: 15px;
}


/* section1 of 4 profile */



.profile {
    display: flex;
    flex-direction: column;
    gap:10px;
    color: #1d3557;
}


h4 {
    font-size: 24px;
    font-weight: 700;
}

.discreption {
    width: 190px;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 2px;
}

.name {
    font-size: 1rem;
    font-weight: 700;
}


